/* font */
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "Morion Bold"; src: url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.eot"); src: url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.woff") format("woff"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.svg#Morion Bold") format("svg"); }
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* layout 영역 */
#wrap {
    width: 100%;
    height: 21476px;
}
#header {
    width: 100%;
    height: 1847px;
    background-color: #E6E5DF;
}
#banner {
    width: 100%;
    height: 2478px;
    background-color: #E6E5DF;
}
#contents {
    width: 100%;
    height: 11218px;
    background-color: #06221F;
}
#footer {
    width: 100%;
    height: 6938px;
    background-color: #D6DECA;
}
.container {
    width: 1460px;
    height: inherit;
    margin: 0 auto;
    background-color: #444;
}
#cont1 {
    width: 100%;
    height: 1044px;
}
#cont2 {
    width: 100%;
    height: 2608px;
    background-color: #333;
}
/* header 메뉴 */
#header .text {
    display: flex;
}
#header .text1 {
    width: 131px;
    height: 46px;
    margin: 40px 40px 40px 50px;
    font-family: Unna;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.02em;
    text-align: right;
    color: #000000;
}

#header .text .text2 {
    width: 235px;
    height: 35px;
    margin: 50px 40px 0px 1350px;
    font-family: Unna;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    word-spacing: 30px;
    text-align: right;
    color: #000000;
}

#header .container .text {
    margin: 10px 110px 170px 273px;
    font-family: morion bold;
    font-size: 200px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -8px;
    text-align: right;
    color: #38524f;
    display: inline-block;
}
#header .container .circle {
    width: 178px;
    height: 186px;
    margin: -360px 480px;
}
#header .pic {
    position: absolute;
    width: 1470px;
    margin: -1080px 0px 0px -10px;
    top: 2100px;
}


/* banner 영역 */
#banner .container .banner {position: relative;}
#banner .container .banner .pic1 {}
#banner .container .banner .pic1 img {
    position: absolute;
    width: 630px;
    height: 890px;
    top: 324px;
}
#banner .container .banner .pic1 h2 {
    position: absolute;
    top: 310px;
    left: 817px;
    font-family: morion bold;
    font-size: 54px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    color: #38524F;
}
#banner .container .banner .pic1 .txt1 {
    position: absolute;
    top: 500px;
    left: 817px;
    font-family: Unna;
    font-size: 27px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: left;
    color: #38524f;
}
#banner .container .banner .pic1 .txt2 {
    position: absolute;
    top: 690px;
    left: 817px;
    font-family: 'Sawarabi Mincho';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.06;
    letter-spacing: 1px;
    text-align: left;
    color: #38524f;
}
#banner .container .banner .pic1 .btn1 {
    position: absolute;
    top: 870px;
    left: 817px;
    border-bottom: 2px solid #38524f;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #38524f;
}
#banner .container .banner .pic1 .btn2 {
    position: absolute;
    top: 260px;
    left: 595px;
    font-family: Unna;
    font-size: 43px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    color: #38524f;
}

#banner .container .banner .pic2 img {
    position: absolute;
    width: 632px;
    height: 804px;
    top: 1382px;
    left: 828px;
}
#banner .container .banner .pic2 h2 {
    position: absolute;
    top: 1370px;
    font-size: 54px;
    font-weight: 700;
    font-family: morion bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    color: #38524F;
}
#banner .container .banner .pic2 p {
    position: absolute;
    top: 1580px;
    font-family: 'Chosunilbo_myungjo';
    -webkit-text-stroke: 0.5px #38524f;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1.3px;
    color: #38524f;
}


/* content1 영역 */
#contents #cont1 img {
    background-size: cover;
}

/* content2 영역 */
#cont2 .container .cont2 {position: relative;}
#cont2 .container .cont2 h2 {
    position: absolute;
    top: 300px;
    left: 180px;
    font-family: morion bold;
    font-size: 200px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #d9e1cc;
}
#cont2 .container .cont2 a {
    position: absolute;
    font-family: Unna;
    font-size: 43px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #d9e1cc;
    top: 300px;
    left: 180px;
}
#cont2 .container .cont2 img {
    position: absolute;
    width: 164px;
    height: 158px;
    top: 590px;
    left: 210px;
}

/* content2-right 영역 */
#cont2 .container .cont2-right {
    position: relative;
}
#cont2 .container .cont2-right h2 {
    position: absolute;
    -webkit-text-stroke: 0.5px #ffffff;
    font-family: morion bold;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 1.95px;
    text-align: left;
    color: #d9e1cc;
    top: 53vw;
    left: 45vw;
}
#cont2 .container .cont2-right img {
    position: absolute;
    width: 591px;
    height: 778px;
    top: 60vw;
    left: 45.2vw;
}

/* content2-left 영역 */
#cont2 .container .cont2-left {
    position: relative;
}
#cont2 .container .cont2-left .txt1 {
    position: absolute;
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: ChosunilboNM;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: 1.1px;
    text-align: right;
    color: #d9e1cc;
    top: 62vw;
    left: 14vw;
}
#cont2 .container .cont2-left .txt2 {
    position: absolute;
    font-family: 'S-CoreDream-4Regular';
    font-size: 19px;
    font-weight: normal;
    line-height: 1.85;
    word-spacing: 10px;
    letter-spacing: 1px;
    text-align: right;
    color: #d9e1cc;
    border-right: 2px solid #d9e1cc;
    padding: 0px 30px;
    transform: rotate(-90deg);
    top: 98.5vw;
    left: 21vw;
}
#cont2 .container .cont2-left .link1 {
    position: absolute;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    text-align: right;
    color: #d9e1cc;
    top: 78vw;
    left: 17vw;
}
#cont2 .container .cont2-left .link2 {
    position: absolute;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    text-align: right;
    color: #d9e1cc;
    top: 78vw;
    left: 27vw;
    border-right: 1px solid #d9e1cc;
    padding-right: 70px;
}
#cont2 .container .cont2-left img {
    position: absolute;
    width: 413px;
    height: 276px;
    top: 91vw;
    left: 31vw;
}

/* 코드 영역 */
.sc-right .editor {
    position: relative;
    background: #35363A;
    border-radius: 5%;
}
.site .editor .editor-tab {
    height: 40px; background: #21252B; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    display: flex;
}
.site .editor .editor-tab .dot {padding: 14px 55px 14px 14px;}
.site .editor .editor-tab .dot span {
    display: block;
    background: #FFB83D; width: 12px; height: 12px; border-radius: 50%;
    position: relative;
}
.site .editor .editor-tab .dot span::before {
    content: '';
    background: #FF4A4A; width: 12px; height: 12px; border-radius: 50%;
    position: absolute; left: 20px;
}
.site .editor .editor-tab .dot span::after {
    content: ''; 
    background: #00C543; width: 12px; height: 12px; border-radius: 50%;
    position: absolute; left: 40px;
}
.site .editor .editor-tab .menu {overflow: hidden;}
.site .editor .editor-tab .menu li {float: left;}
.site .editor .editor-tab .menu li a {
    display: block; background: #21252B; color: #8E9093; padding: 11px 32px;
    font-family: "Poppins", sans-serif;
}
.site .editor .editor-tab .menu li.active a {background: #383E4A;  color: #fff;}
.site .editor .editor-tab .theme {
    color: #8E9093; margin-left: auto;
    padding: 11px 32px;
}
.site .editor .editor-code {
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    height: 500px; 
    background: #282C34;
    overflow: auto;
}
.site .editor .numberswrap {
    position: absolute;
    top: 39px; left: 0;
    width: 100%; height: 500px;
    overflow: auto;
}