/* font */
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "Morion Bold"; src: url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.eot"); src: url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.woff") format("woff"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.svg#Morion Bold") format("svg"); }

/* layout 영역 */
#wrap {
    width: 100%;
    height: 21476px;
}
#header {
    width: 100%;
    height: 1847px;
    background-color: #E6E5DF;
}
#banner {
    width: 100%;
    height: 2478px;
    background-color: #E6E5DF;
}
#contents {
    width: 100%;
    height: 11218px;
    background-color: #06221F;
}
#footer {
    width: 100%;
    height: 6938px;
    background-color: #D6DECA;
}
.container {
    width: 1460px;
    height: inherit;
    margin: 0 auto;
}
#cont1 {
    width: 100%;
    height: 1044px;
}
/* header 메뉴 */
#header .text {
    display: flex;
}
#header .text1 {
    width: 131px;
    height: 46px;
    margin: 40px 40px 40px 50px;
    font-family: Unna;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.02em;
    text-align: right;
    color: #000000;
}

#header .text .text2 {
    width: 235px;
    height: 35px;
    margin: 50px 40px 0px 1350px;
    font-family: Unna;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    word-spacing: 30px;
    text-align: right;
    color: #000000;
}

#header .container .text {
    margin: 10px 110px 170px 273px;
    font-family: morion bold;
    font-size: 200px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -8px;
    text-align: right;
    color: #38524f;
    display: inline-block;
}
#header .container .circle {
    width: 178px;
    height: 186px;
    margin: -360px 480px;
}
#header .pic {
    position: absolute;
    width: 1470px;
    margin: -1080px 0px 0px -10px;
    top: 2100px;
}


/* banner 영역 */
#banner .container .banner {position: relative;}
#banner .container .banner .pic1 {}
#banner .container .banner .pic1 img {
    position: absolute;
    width: 630px;
    height: 890px;
    top: 324px;
}
#banner .container .banner .pic1 h2 {
    position: absolute;
    top: 310px;
    left: 815px;
    font-family: morion bold;
    font-size: 54px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    color: #38524F;
}
#banner .container .banner .pic1 .txt1 {
    position: absolute;
    top: 500px;
    left: 815px;
    font-family: Unna;
    font-size: 27px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: left;
    color: #38524f;
}
#banner .container .banner .pic1 .txt2 {
    position: absolute;
    top: 690px;
    left: 815px;
    font-family: 'Sawarabi Mincho';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.06;
    letter-spacing: 1px;
    text-align: left;
    color: #38524f;
}
#banner .container .banner .pic1 .btn1 {
    position: absolute;
    top: 870px;
    left: 815px;
    border-bottom: 2px solid #38524f;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #38524f;
}
#banner .container .banner .pic1 .btn2 {
    position: absolute;
    top: 260px;
    left: 595px;
    font-family: Unna;
    font-size: 43px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    color: #38524f;
}

#banner .container .banner .pic2 img {
    position: absolute;
    width: 632px;
    height: 804px;
    top: 1382px;
    left: 830px;
}
#banner .container .banner .pic2 h2 {
    position: absolute;
    top: 1370px;
    font-size: 54px;
    font-weight: 700;
    font-family: morion bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    color: #38524F;
}
#banner .container .banner .pic2 p {
    position: absolute;
    top: 1580px;
    font-family: 'Chosunilbo_myungjo';
    -webkit-text-stroke: 0.5px #38524f;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1.3px;
    color: #38524f;
}


/* content1 영역 */
#contents #cont1 img {
    background-size: cover;
}
#contents #cont2 .container .cont2 {position: relative;}
#contents #cont2 .container .cont2 h2 {
    position: absolute;
    top: 300px;
    left: 180px;
    font-family: morion bold;
    font-size: 200px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: right;
    color: #d9e1cc;
}
#contents #cont2 .container .cont2 a {
    position: absolute;
}
#contents #cont2 .container .cont2 img {
    position: absolute;
    width: 144px;
    height: 138px;
    top: 570px;
    left: 240px;
}