/* font */
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap');
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "Morion Bold"; src: url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.eot"); src: url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.woff") format("woff"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0a0cbbd2ee416efdde8260f3aafa0d14.svg#Morion Bold") format("svg"); }
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* layout 영역 */
#wrap {
    width: 100%;
    height: 21576px;
}
#header {
    width: 100%;
    height: 1847px;
    background-color: #E6E5DF;
}
#banner {
    width: 100%;
    height: 2478px;
    background-color: #E6E5DF;
}
#contents {
    width: 100%;
    height: 11218px;
    background-color: #06221F;
}
#footer {
    width: 100%;
    height: 6938px;
    background-color: #D6DECA;
}
.container {
    width: 1460px;
    height: inherit;
    margin: 0 auto;
}
#cont1 {
    width: 100%;
    height: 1044px;
}
#cont2 {
    width: 100%;
    height: 2708px;
}
#cont3 {
    width: 100%;
    height: 2525px;
}
#cont4 {
    width: 100%;
    height: 2292px;
}
#cont5 {
    width: 100%;
    height: 2749px;
}
#cont6 {
    width: 100%;
    height: 1056px;
}
#cont7 {
    width: 100%;
    height: 1794px;
    overflow: hidden;
}
#cont8 {
    width: 100%;
    height: 1292px;
}
/* header 메뉴 */
#header .text {
    display: flex;
}
#header .text1 {
    width: 131px;
    height: 46px;
    margin: 40px 40px 40px 50px;
    font-family: Unna;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.02em;
    text-align: right;
    color: #000000;
}

#header .text .text2 {
    width: 235px;
    height: 35px;
    margin: 50px 40px 0px 1350px;
    font-family: Unna;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    word-spacing: 30px;
    text-align: right;
    color: #000000;
}

#header .container .text {
    margin: 10px 110px 170px 273px;
    font-family: morion bold;
    font-size: 200px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -8px;
    text-align: right;
    color: #38524f;
    display: inline-block;
}
#header .container .circle {
    width: 178px;
    height: 186px;
    margin: -360px 480px;
}
#header .pic {
    position: absolute;
    width: 1470px;
    margin: -1080px 0px 0px -10px;
    top: 2100px;
}


/* banner 영역 */
#banner .container .banner {position: relative;}
#banner .container .banner .pic1 {}
#banner .container .banner .pic1 img {
    position: absolute;
    width: 630px;
    height: 890px;
    top: 324px;
}
#banner .container .banner .pic1 h2 {
    position: absolute;
    top: 310px;
    left: 817px;
    font-family: morion bold;
    font-size: 54px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    color: #38524F;
}
#banner .container .banner .pic1 .txt1 {
    position: absolute;
    top: 500px;
    left: 817px;
    font-family: Unna;
    font-size: 27px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: left;
    color: #38524f;
}
#banner .container .banner .pic1 .txt2 {
    position: absolute;
    top: 690px;
    left: 817px;
    font-family: 'Sawarabi Mincho';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.06;
    letter-spacing: 1px;
    text-align: left;
    color: #38524f;
}
#banner .container .banner .pic1 .btn1 {
    position: absolute;
    top: 870px;
    left: 817px;
    border-bottom: 2px solid #38524f;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #38524f;
}
#banner .container .banner .pic1 .btn2 {
    position: absolute;
    top: 260px;
    left: 595px;
    font-family: Unna;
    font-size: 43px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    color: #38524f;
}

#banner .container .banner .pic2 img {
    position: absolute;
    width: 632px;
    height: 804px;
    top: 1382px;
    left: 828px;
}
#banner .container .banner .pic2 h2 {
    position: absolute;
    top: 1370px;
    font-size: 54px;
    font-weight: 700;
    font-family: morion bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    color: #38524F;
}
#banner .container .banner .pic2 p {
    position: absolute;
    top: 1580px;
    font-family: 'Chosunilbo_myungjo';
    -webkit-text-stroke: 0.5px #38524f;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1.3px;
    color: #38524f;
}


/* content1 영역 */
#contents #cont1 img {
    background-size: cover;
    height: 1144px;
}

/* content2 영역 */
#cont2 .container .cont2 {position: relative;}
#cont2 .container .cont2 h2 {
    position: absolute;
    top: 300px;
    left: 180px;
    font-family: morion bold;
    font-size: 200px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #d9e1cc;
}
#cont2 .container .cont2 a {
    position: absolute;
    font-family: Unna;
    font-size: 43px;
    font-weight: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #d9e1cc;
    top: 300px;
    left: 180px;
}
#cont2 .container .cont2 img {
    position: absolute;
    width: 164px;
    height: 158px;
    top: 590px;
    left: 210px;
}

/* content2-right 영역 */
#cont2 .container .cont2-right {
    position: relative;
}
#cont2 .container .cont2-right h2 {
    position: absolute;
    -webkit-text-stroke: 0.5px #ffffff;
    font-family: morion bold;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 1.95px;
    text-align: left;
    color: #d9e1cc;
    top: 53vw;
    left: 45vw;
}
#cont2 .container .cont2-right img {
    position: absolute;
    width: 591px;
    height: 778px;
    top: 60vw;
    left: 45.2vw;
}

/* content2-left 영역 */
#cont2 .container .cont2-left {
    position: relative;
}
#cont2 .container .cont2-left .txt1 {
    position: absolute;
    -webkit-text-stroke: 0.1px #e3e9d9;
    font-family: 'Chosunilbo_myungjo';
    font-size: 22px;
    font-weight: normal;
    line-height: 1.8;
    letter-spacing: 2px;
    text-align: right;
    color: #e3e9d9;
    top: 62vw;
    left: 12vw;
}
#cont2 .container .cont2-left .txt2 {
    position: absolute;
    font-family: 'S-CoreDream-4Regular';
    font-size: 19px;
    font-weight: normal;
    line-height: 1.85;
    word-spacing: 10px;
    letter-spacing: 1px;
    text-align: right;
    color: #d9e1cc;
    border-right: 2px solid #d9e1cc;
    padding: 0px 30px;
    transform: rotate(-90deg);
    top: 98.6vw;
    left: 22vw;
}
#cont2 .container .cont2-left .link1 {
    position: absolute;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    text-align: right;
    color: #d9e1cc;
    top: 78vw;
    left: 17vw;
}
#cont2 .container .cont2-left .link2 {
    position: absolute;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    text-align: right;
    color: #d9e1cc;
    top: 78vw;
    left: 27vw;
    border-right: 1px solid #d9e1cc;
    padding-right: 58px;
}
#cont2 .container .cont2-left img {
    position: absolute;
    width: 413px;
    height: 276px;
    top: 91vw;
    left: 31vw;
}

/* cont2 코드 영역 */
#cont2 .container .coding {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}
#cont2 .container .coding .coding-right {
    width: 60%;
    height: 60.6vh;
    background: #1e1e1e;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    top: 113vw;
    left: 31vw;
  }
  
  #cont2 .container .coding .coding-right div.show {
    display: inline-block;
  }
  
  #cont2 .container .coding .coding-right .cnav {
    background: 
    #21252b;
    display: flex;
  }
  
  #cont2 .container .coding .coding-right .cnav div {
    background: 
    #21252b;
    display: inline-block;
    padding: 2% 4% 2% 4%;
  }
  
  #cont2 .container .coding .coding-right .cnav div p {
    font-size: .7vw;
    color: #7A7C89;
  }
  
  #cont2 .container .coding .coding-right .cnav .show {
    background: #333E54;
    display: inline-block;
    padding: 2% 4% 2% 4%;
    position: relative;
  }
  
  #cont2 .container .coding .coding-right .cnav .show p {
    color: #fff;
  }

  #cont2 .container .coding .coding-right .code1 {
    color: #fff;
  }

  #cont2 .container .coding .coding-right .code1 pre {
    
}

/* 코드 왼쪽 영역 */
#cont2 .container .coding .coding-left {
    width: 40%;
    height: 60.6vh;
}
#cont2 .container .coding .coding-left .rect {
    position: relative;
}
#cont2 .container .coding .coding-left .rect .rect1 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 120vw;
    left: 5vw;
}
#cont2 .container .coding .coding-left .rect .rect2 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 123vw;
    left: 5vw;
}
#cont2 .container .coding .coding-left .rect .rect3 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 126vw;
    left: 5vw;
    background-color: #d9e1cc;
}
#cont2 .container .coding .coding-left .rect .rect4 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 129vw;
    left: 5vw;
}
#cont2 .container .coding .coding-left .rect .rect5 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 132vw;
    left: 5vw;
}

#cont2 .container .coding .coding-left {
    position: relative;
}
#cont2 .container .coding .coding-left .txt {
    display: inline;
}
#cont2 .container .coding .coding-left .txt .txt1 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #d9e1cc;
    position: absolute;
    top: 119.7vw;
    left: 8.5vw;
}
#cont2 .container .coding .coding-left .txt .txt2 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #d9e1cc;
    position: absolute;
    top: 122.7vw;
    left: 8.5vw;
}
#cont2 .container .coding .coding-left .txt .txt3 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #d9e1cc;
    position: absolute;
    top: 125.7vw;
    left: 8.5vw;
}
#cont2 .container .coding .coding-left .txt .txt4 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #d9e1cc;
    position: absolute;
    top: 128.7vw;
    left: 8.5vw;
}
#cont2 .container .coding .coding-left .txt .txt5 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #d9e1cc;
    position: absolute;
    top: 131.7vw;
    left: 8.5vw;
}

/* cont3 영역 */
#cont3 .container .cont3-left {
    position: relative;
}
#cont3 .container .cont3-left h2 {
    position: absolute;
    -webkit-text-stroke: 0.5px #ffffff;
    font-family: morion bold;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 1.95px;
    text-align: left;
    color: #d9e1cc;
    top: 17.5vw;
    left: 8vw;
}
#cont3 .container .cont3-left img {
    position: absolute;
    width: 591px;
    height: 778px;
    top: 25vw;
}

#cont3 .container .cont3-right {
    position: relative;
}
#cont3 .container .cont3-right .txt1 {
    position: absolute;
    -webkit-text-stroke: 0.1px #e3e9d9;
    font-family: 'Chosunilbo_myungjo';
    font-size: 22px;
    font-weight: normal;
    line-height: 1.8;
    letter-spacing: 2px;
    text-align: left;
    color: #e3e9d9;
    top: 27vw;
    left: 39vw;
}
#cont3 .container .cont3-right .txt2 {
    position: absolute;
    font-family: 'S-CoreDream-4Regular';
    font-size: 19px;
    font-weight: normal;
    line-height: 1.85;
    word-spacing: 10px;
    letter-spacing: 1px;
    text-align: right;
    color: #d9e1cc;
    border-right: 2px solid #d9e1cc;
    padding: 0px 30px;
    transform: rotate(90deg);
    top: 61.1vw;
    left: 39.5vw;
}
#cont3 .container .cont3-right .link1 {
    position: absolute;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    text-align: right;
    color: #d9e1cc;
    top: 44vw;
    left: 52vw;
}
#cont3 .container .cont3-right .link2 {
    position: absolute;
    font-family: Unna;
    font-size: 27px;
    font-weight: normal;
    text-align: right;
    color: #d9e1cc;
    top: 44vw;
    left: 39vw;
    border-left: 1px solid #d9e1cc;
    padding-left: 58px;
}
#cont3 .container .cont3-right img {
    position: absolute;
    width: 413px;
    height: 276px;
    top: 57vw;
    left: 23vw;
}

/* cont3 코딩영역 */
#cont3 .container {
    position: relative;
}
#cont3 .container .coding {
    display: flex;
    width: 100%;
    height: 100vh;
}
#cont3 .container .coding .coding-left {
    width: 59%;
    height: 60.6vh;
    background: #1e1e1e;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    top: 78.1vw;
  }
  
  #cont3 .container .coding .coding-left div.show {
    display: inline-block;
  }
  
  #cont3 .container .coding .coding-left .cnav {
    background: 
    #21252b;
    display: flex;
  }
  
  #cont3 .container .coding .coding-left .cnav div {
    background: 
    #21252b;
    display: inline-block;
    padding: 2% 4% 2% 4%;
  }
  
  #cont3 .container .coding .coding-left .cnav div p {
    font-size: .7vw;
    color: #7A7C89;
  }
  
  #cont3 .container .coding .coding-left .cnav .show {
    background: #333E54;
    display: inline-block;
    padding: 2% 4% 2% 4%;
    position: relative;
  }
  
  #cont3 .container .coding .coding-left .cnav .show p {
    color: #fff;
  }

  #cont3 .container .coding .coding-left .code1 {
    color: #fff;
  }

  #cont3 .container .coding .coding-left .code1 pre {
    
}

/* 코드 왼쪽 영역 */
#cont3 .container .coding-right {}
#cont3 .container .coding-right .rect {
    position: relative;
}
#cont3 .container .coding-right .rect .rect1 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 86vw;
    left: 56vw;
}
#cont3 .container .coding-right .rect .rect2 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 89vw;
    left: 56vw;
}
#cont3 .container .coding-right .rect .rect3 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 92vw;
    left: 56vw;
}
#cont3 .container .coding-right .rect .rect4 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 95vw;
    left: 56vw;
    background-color: #d9e1cc;
}
#cont3 .container .coding-right .rect .rect5 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 98vw;
    left: 56vw;
}

#cont3 .container .coding-right .txt {
    width: 40%;
}
#cont3 .container .coding-right .txt .txt1 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    color: #d9e1cc;
    position: absolute;
    top: 85.7vw;
    left: 59.5vw;
}
#cont3 .container .coding-right .txt .txt2 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #d9e1cc;
    position: absolute;
    top: 88.7vw;
    left: 59.5vw;
}
#cont3 .container .coding-right .txt .txt3 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #d9e1cc;
    position: absolute;
    top: 91.7vw;
    left: 59.5vw;
}
#cont3 .container .coding-right .txt .txt4 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #d9e1cc;
    position: absolute;
    top: 94.7vw;
    left: 59.5vw;
}
#cont3 .container .coding-right .txt .txt5 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #d9e1cc;
    position: absolute;
    top: 97.7vw;
    left: 59.5vw;
}

/* cont4 영역 */
#cont4 .container {
    position: relative;
}
#cont4 .container .pic {
    
}
#cont4 .container .pic img {
    width: 449px;
    height: 927px;
    margin: 2px 0 0;
    background-color: rgba(80, 105, 103, 0.4);
}
#cont4 .container .pic .pic1 {
    position: absolute;
    left: 52.7vw;
}
#cont4 .container .pic .pic2 {
    position: absolute;
    top: 35.5vw;
}
#cont4 .container .pic .pic3 {
    position: absolute;
    top: 71vw;
    left: 52.7vw;
}
#cont4 .container .txt {
    position: relative;
}
#cont4 .container .txt p {
    -webkit-text-stroke: 3px #d9e1cc;
    font-family: 'Yeseva One';
    font-size: 170px;
    line-height: 1.25;
    letter-spacing: 3.4px;
    text-align: center;
    color: #d9e1cc;
    z-index: -1;
    padding-top: 30vw;
}

/* cont5 영역 */
#cont5 .container .cont5-1.left {
    width: 50%;
    margin: 50vh 0px;
    position: relative;
}
#cont5 .container .cont5-1.left a {
    position: absolute;
    -webkit-text-stroke: 0.2px #d9e1cc;
    font-family: Unna;
    font-size: 43px;
    letter-spacing: normal;
    text-align: left;
    color: #d9e1cc;
    left: 28.6vw;
}
#cont5 .container .cont5-1.left p {
    position: absolute;
    width: 30%;
    transform: rotate(90deg);
    font-family: 'S-CoreDream-4Regular';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
    color: #d9e1cc;
    top: 39vw;
    left: 44vw;
    border-right: 2px solid #d9e1cc;
}
#cont5 .container .cont5-1.left img {
    position: absolute;
}
#cont5 .container .cont5-1.left .img1 {
    width: 591px;
    height: 777px;
    margin: 63px 98px 163.8px 0;
    padding: 2px 0 0;
    background-color: rgba(0, 0, 0, 0.1);
}
#cont5 .container .cont5-1.left .img2 {
    position: absolute;
    width: 461px;
    height: 328px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 34vw;
    left: 24vw;
}

#cont5 .container .cont5-1.right {
    margin: 50vh 0px;
    position: relative;
}
#cont5 .container .cont5-1.right h2 {
    position: absolute;
    -webkit-text-stroke: 1px #d9e1cc;
    font-family: Tinos;
    font-size: 53px;
    letter-spacing: 0.53px;
    text-align: left;
    color: #d9e1cc;
    top: 2.2vw;
    left: 40vw;
}
#cont5 .container .cont5-1.right h2 span {
    font-family: 'Chosunilbo_myungjo';
}
#cont5 .container .cont5-1.right .txt1 {
    position: absolute;
    -webkit-text-stroke: 0.4px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 22px;
    line-height: 1.59;
    letter-spacing: 1px;
    text-align: left;
    color: #d9e1cc;
    top: 8vw;
    left: 40vw;
}
#cont5 .container .cont5-1.right .txt2 {
    position: absolute;
    font-family: Tinos;
    font-size: 24px;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #d9e1cc;
    top: 17vw;
    left: 40vw;
}
#cont5 .container .cont5-1.right a {
    position: absolute;
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: Unna;
    font-size: 27px;
    letter-spacing: normal;
    text-align: left;
    color: #d9e1cc;
    border-bottom: 2px solid #d9e1cc;
    top: 25vw;
    left: 40vw;
}

/* cont5 코딩 영역 */
#cont5 .container {
    position: relative;
}
#cont5 .container .cont5-2 .cont5-2.left {
    width: 63.5%;
    height: 60.6vh;
    background: #1e1e1e;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    top: 60.1vw;
  }
  
  #cont5 .container .cont5-2 .cont5-2.left div.show {
    display: inline-block;
  }
  
  #cont5 .container .cont5-2 .cont5-2.left .cnav {
    background: 
    #21252b;
    display: flex;
  }
  
  #cont5 .container .cont5-2 .cont5-2.left .cnav div {
    background: 
    #21252b;
    display: inline-block;
    padding: 2% 4% 2% 4%;
  }
  
  #cont5 .container .cont5-2 .cont5-2.left .cnav div p {
    font-size: .7vw;
    color: #7A7C89;
  }
  
  #cont5 .container .cont5-2 .cont5-2.left .cnav .show {
    background: #333E54;
    display: inline-block;
    padding: 2% 4% 2% 4%;
    position: relative;
  }
  
  #cont5 .container .cont5-2 .cont5-2.left .cnav .show p {
    color: #fff;
  }

  #cont5 .container .cont5-2 .cont5-2.left .code1 {
    color: #fff;
  }

  #cont5 .container .cont5-2 .cont5-2.left .code1 pre {
    
}

/* 코드 오른쪽 영역 */
#cont5 .container .cont5-2 .cont5-2.right {}
#cont5 .container .cont5-2 .cont5-2.right .rect {
    position: relative;
}
#cont5 .container .cont5-2 .cont5-2.right .rect .rect1 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 68vw;
    left: 56vw;
}
#cont5 .container .cont5-2 .cont5-2.right .rect .rect2 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 71vw;
    left: 56vw;
}
#cont5 .container .cont5-2 .cont5-2.right .rect .rect3 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 74vw;
    left: 56vw;
}
#cont5 .container .cont5-2 .cont5-2.right .rect .rect4 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 77vw;
    left: 56vw;
    background-color: #d9e1cc;
}
#cont5 .container .cont5-2 .cont5-2.right .rect .rect5 {
    border: 1px solid #d9e1cc;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 80vw;
    left: 56vw;
}

#cont5 .container .cont5-2 .cont5-2.right .txt .txt1 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    color: #d9e1cc;
    position: absolute;
    top: 67.7vw;
    left: 59.5vw;
}
#cont5 .container .cont5-2 .cont5-2.right .txt .txt2 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #d9e1cc;
    position: absolute;
    top: 70.7vw;
    left: 59.5vw;
}
#cont5 .container .cont5-2 .cont5-2.right .txt .txt3 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #d9e1cc;
    position: absolute;
    top: 73.7vw;
    left: 59.5vw;
}
#cont5 .container .cont5-2 .cont5-2.right .txt .txt4 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #d9e1cc;
    position: absolute;
    top: 76.7vw;
    left: 59.5vw;
}
#cont5 .container .cont5-2 .cont5-2.right .txt .txt5 {
    -webkit-text-stroke: 0.3px #d9e1cc;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #d9e1cc;
    position: absolute;
    top: 79.7vw;
    left: 59.5vw;
}

/* 푸터 cont1 영역 */
#footer #cont6 img {
    background-size: cover;
    height: 1056px;
}

#footer #cont7 .ani {
    position: relative;
}
#footer #cont7 .ani .img {
   display: flex;
}
#footer #cont7 .ani .img .img1 {
    position: absolute;
    width: 586.6px;
    height: 974.4px;
    margin: 57.2px 148.4px 92.5px 127px;
    padding: 364.9px 94.4px 364.6px 120px;
    transform: rotate(-2deg);
    left: 14vw;
}
#footer #cont7 .ani .img .img2 {
    position: absolute;
    width: 586.6px;
    height: 974.4px;
    margin: 45.3px 7px 104.4px 148.4px;
    transform: rotate(-2deg);
    top: 19vw;
    left: 62vw;
}
#footer #cont7 .ani .hovertxt {
    position: relative;
}
#footer #cont7 .ani .hovertxt .flower h2 {
    position: absolute;
    transform: rotate(-2deg);
    -webkit-text-stroke: 0.7px #d9e1cc;
    font-family: Tinos;
    font-size: 50px;
    letter-spacing: normal;
    color: #d9e1cc;
    top: 44vw;
    left: 32vw;
}
#footer #cont7 .ani .hovertxt .flower a {
    position: absolute;
    transform: rotate(-7deg);
    -webkit-text-stroke: 0.5px #d9e1cc;
    font-family: 'Allura';
    font-size: 40px;
    letter-spacing: normal;
    color: #d9e1cc;
    top:48vw;
    left: 35vw;
}
#footer #cont7 .ani .hovertxt .gsap h2 {
    position: absolute;
    transform: rotate(-2deg);
    -webkit-text-stroke: 0.7px #d9e1cc;
    font-family: Tinos;
    font-size: 50px;
    letter-spacing: normal;
    color: #d9e1cc;
    top: 43vw;
    left: 77vw;
    overflow: visible;
}
#footer #cont7 .ani .hovertxt .gsap a {
    position: absolute;
    transform: rotate(-7deg);
    -webkit-text-stroke: 0.5px #d9e1cc;
    font-family: 'Allura';
    font-size: 43px;
    letter-spacing: normal;
    text-align: center;
    color: #d9e1cc;
    top: 47vw;
    left: 79vw;
}
#footer #cont7 .txt {
    position: relative;
}
#footer #cont7 .txt .txt1 {
    position: absolute;
    -webkit-text-stroke: 0.2px #38524f;
    font-family: Unna;
    font-size: 43px;
    color: #38524f;
    top: 15vw;
    left: 9vw;
}
#footer #cont7 .txt .txt2 {
    position: absolute;
    font-family: Unna;
    font-size: 24px;
    letter-spacing: normal;
    color: #2a423c;
    border-bottom: 2px solid #2a423c;
    top: 91vw;
    left: 12vw;
}
#footer #cont7 .txt h2 {
    position: absolute;
    transform: rotate(-90deg);
    -webkit-text-stroke: 0.7px #38524f;
    font-family: Unna;
    font-size: 80px;
    line-height: 1.15;
    letter-spacing: 1.6px;
    text-align: right;
    color: #38524f;
    top: 28vw;
    left: -3vw;
}

/* cont8 영역 */
#footer #cont8 .container .cont8-left {}
#footer #cont8 .container .cont8-left .left {position: relative;}
#footer #cont8 .container .cont8-left .left h2 {
    position: absolute;
    transform: rotate(-90deg);
    -webkit-text-stroke: 0.7px #38524f;
    font-family: Unna;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 1.6px;
    text-align: right;
    color: #38524f;
    top: 10vw;
    left: -13vw;
}
#footer #cont8 .container .cont8-left .effect {
    position: relative;
}
#footer #cont8 .container .cont8-left .effect img {
    position: absolute;
    width: 886px;
    height: 581px;
    top: 6vw;
    left: 6vw;
}
#footer #cont8 .container .cont8-left .effect h2 {
    position: absolute;
    width: 232px;
    height: 104px;
    margin: 0 178px 53px 0;
    font-family: 'Playfair Display SC';
    font-size: 46px;
    line-height: 1.1;
    letter-spacing: 0.92px;
    text-align: left;
    color: #ffffff;
    top: 13.5vw;
    left: 15.5vw;
}
#footer #cont8 .container .cont8-left .effect h2 span {
    font-size: 55px;
    letter-spacing: 1.1px;
}
#footer #cont8 .container .cont8-left .effect button {
    position: absolute;
}
#footer #cont8 .container .cont8-left .effect p {
    position: absolute;
    font-family: 'Playfair Display SC';
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    top: 21vw;
    left: 15.7vw;
}
#footer #cont8 .container .cont8-left .effect a {
    position: absolute;
    font-family: PlayfairDisplaySC;
    font-size: 13px;
    letter-spacing: 0.26px;
    color: #ffffff;
    border-bottom: 2px solid #fff;
    top: 25.2vw;
    left: 15.7vw;
}

/* 오른쪽 영역 */
#cont8 .container .cont8-right { position: relative;}
#cont8 .container .cont8-right .rect .rect1 {
    border: 1px solid #2A423C;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 15vw;
    left: 57vw;
}
#cont8 .container .cont8-right .rect .rect2 {
    border: 1px solid #2A423C;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 18vw;
    left: 57vw;
}
#cont8 .container .cont8-right .rect .rect3 {
    border: 1px solid #2A423C;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 21vw;
    left: 57vw;
}
#cont8 .container .cont8-right .rect .rect4 {
    border: 1px solid #2A423C;
    width: 28px; height: 28px;
    position: absolute;
    border-radius: 2px;
    top: 24vw;
    left: 57vw;
    background-color: #2A423C;
}
#cont8 .container .cont8-right .eff .txt1 {
    -webkit-text-stroke: 0.3px #2A423C;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    color: #2A423C;
    position: absolute;
    top: 14.8vw;
    left: 59.5vw;
}
#cont8 .container .cont8-right .eff .txt2 {
    -webkit-text-stroke: 0.3px #2A423C;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #2A423C;
    position: absolute;
    top: 17.8vw;
    left: 59.5vw;
}
#cont8 .container .cont8-right .eff .txt3 {
    -webkit-text-stroke: 0.3px #2A423C;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #2A423C;
    position: absolute;
    top: 20.8vw;
    left: 59.5vw;
}
#cont8 .container .cont8-right .eff .txt4 {
    -webkit-text-stroke: 0.3px #2A423C;
    font-family: 'Chosunilbo_myungjo';
    font-size: 24px;
    font-weight: normal;
    color: #2A423C;
    position: absolute;
    top: 23.8vw;
    left: 59.5vw;
}